body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content-site {
    display: flex;
    flex-direction: row;
}

main {
    margin: 10px;
}

table.data-table {
    margin: 10px;
    border-collapse: collapse;

}

table.data-table td, table.data-table th {
    padding: 3px;
    border: 1px solid darkgrey;
}

table.data-table th {
    background-color: lightgrey;
    color: black;
}

table.data-table a{
    color:#111;
    text-decoration:none;
}

table.data-table a:hover{
    color:blue;
}

table.data-table:active a{
    color:#111;
}

