#nav-menu, #nav-menu ul {

    padding: 0;
    list-style: none;
}

#nav-menu {
    display: flex;
    height: 30px;
    margin: 5px 10px 0 10px;
    padding-top: 10px;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
}


#nav-menu:before,
#nav-menu:after {
    content: "";
    display: table;
}
#nav-menu:after {
    clear: both;
}

#nav-menu li {
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}
#nav-menu a {
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
#nav-menu li:hover > a {
    color: #fafafa;
}


#nav-menu ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#nav-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#nav-menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#nav-menu ul li {
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#nav-menu ul li:last-child {
    box-shadow: none;
}

#nav-menu ul a {
    padding: 10px;
    width: 140px;
    display: block;
    white-space: nowrap;
    text-transform: none;
}

#nav-menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#nav-menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#nav-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#nav-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#nav-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#nav-menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}

#nav-menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

#nav-menu .enter-button{
    right:12px;
    position: absolute;

}
